In [159]:
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pymongo
import pandas as pd
import os
import GetOldTweets3 as got

In [160]:
#adding the driver
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [161]:
# URL for news page
news_url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(news_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [164]:
html = browser.html
browser.visit(news_url)
#scrape for the latest title and news paragraph text
first_title = browser.find_by_css('div[class = "content_title"]').text
first_title

soup = BeautifulSoup(html, 'html.parser')
#selects first list item that contains paragraph title and text
p_text = soup.select_one('ul.item_list li.slide')
news_title = p_text.find('div', class_ = 'content_title').text

print(news_title)
#finding text within the first list item(li)
news_p = p_text.text

print(news_p)

The Detective Aboard NASA's Perseverance Rover
An instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.The Detective Aboard NASA's Perseverance RoverMay 26, 2020The Detective Aboard NASA's Perseverance RoverAn instrument called SHERLOC will, with the help of its partner WATSON, hunt for signs of ancient life by detecting organic molecules and minerals.

In [ ]:
#url for space images
space_images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(space_images_url)

In [127]:
#navigating to find image
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
images = soup.find_all('div', class_ = 'img')
#use Beautiful Soup to find img url
for x in images:
    image = x.find('img')
    title = image['title']
    img_url = image['src']
    print('-----------')
    print(title)
    featured_image_url = 'https://www.jpl.nasa.gov' + img_url
    if title == 'Arsia Mons Summit':
        break
print(featured_image_url)

-----------
Arsia Mons Summit
https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23932-640x350.jpg

In [39]:
#image url
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA23932-640x350.jpg'

In [40]:
#Mars Twitter Account
twitter_url = 'https://twitter.com/marswxreport?lang=en'

# Retrieve page with the requests module
response = requests.get(twitter_url)
# Create BeautifulSoup object; parse with 'lxml'
soup = BeautifulSoup(response.text, 'lxml')

In [44]:
#Scraping for the latest Mars weather tweet
tweetCriteria = got.manager.TweetCriteria().setUsername("MarsWxReport")\
                                           .setTopTweets(True)\
                                           .setMaxTweets(10)
mars_weather = got.manager.TweetManager.getTweets(tweetCriteria)[0]
print(mars_weather.text)

InSight sol 525 (2020-05-18) low -93.6ºC (-136.5ºF) high -0.4ºC (31.3ºF) winds from the WNW at 4.8 m/s (10.8 mph) gusting to 18.5 m/s (41.4 mph) pressure at 7.10 hPa

In [5]:
#Mars Facts
url = "https://space-facts.com/mars/"
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [6]:
#convert table to dataframe
df = tables[0]
df.columns = ['Titles', 'Stats']
df

                 Titles                          Stats
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [7]:
html_table = df.to_html()
print(html_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Titles</th>
      <th>Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [113]:
#Make url
hemis_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
soup = BeautifulSoup(html, 'html.parser')

#find titles
images = soup.find_all('div', class_ = 'description')
#loop throught to find titles
for x in range(4):
    
     # HTML object
    html = browser.html
    # Parse HTML with Beautiful Soup
    soup = BeautifulSoup(html, 'html.parser')
    
    results = soup.find_all('div', class_ = 'itemLink product-item')
    
    for x in results:
        h3 = x.find('h3')
        h3

In [81]:
#make xpath to find the title of the hemispheres
xpath = "//div[@class= 'description']//a[@class='itemLink product-item']"

#find the titles using the xpath
titles = browser.find_by_xpath(xpath)

#make title into html
titles[0].html

ElementDoesNotExist: no elements could be found with xpath "//div[@class= 'description']//a[@class='itemLink product-item']"